body {
    background-color: rgb(200, 224, 211);
}
.navbar {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-bottom: 3px solid #FA6E00;
}
.sidebar {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-bottom: 3px solid #FA6E00;
}
.logo {
    height: 60px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 6px;
}
.footer-row {
    margin-bottom: 0px;
}
.page-footer {
    border-top: 3px solid rgb(241, 241, 35);
}
#to_top {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    padding-right: 30px;
}
/* recipes page */
/* carousel */
#carousel-auto {
    margin-top: 60px;
}
.welcome-header {
    margin-bottom: 20px;
}
.welcome-text {
    line-height: 30px;
}
.reg-button {
    margin-top: 30px;
}
.reg-button a {
    color: white;
}
#search-card {
    background-color: rgb(229, 235, 232);
}
#search-card h5 {
    margin-bottom: 50px;
}
/* recipe cards */
.card {
    margin-top: 20px;
    line-height: 30px;
}
.prep i {
    padding-right: 15px;
}
.cooking i {
    padding-right: 15px;
}
.ingredients i {
    padding-right: 15px;
}
.method i {
    padding-right: 15px;
}
.btn-floating {
    margin: 10px 10px;
}
/* add recipe button */
.add-button {
    margin-top: 30px;
}
.add-button a {
    color: white;
}
/* register page/Log in page */
.card-panel {
    margin-top: 40px;
}
.login-intro {
    margin-top: 30px;
    margin-bottom: 20px;
}
.login-button {
    margin-top: 0px;
    margin-bottom: 20px;
}
/* My account page */
.account-page {
    margin-top: 80px;
}
.account-page img {
    float: left;
    height: 250px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 50%;
}
.account-page-intro h6 {
    line-height: 30px;
}
#account-page-link-card {
    margin-top: 40px;
}
#link-card-details {
    margin-top: 50px;
}
#link-card-details a:hover {
    text-decoration: underline;
}
#account-page-delete-card {
    margin-top: 40px;
    margin-bottom: 40px;
}
#account-delete {
    margin-top: 50px;
}
#account-delete h6 {
    color: orange;
}
#account-delete p {
    font-size: small;
}
#account-delete a:hover {
    text-decoration: underline;
}
/* add recipes page */
.add-recipe-title {
    background-image: url(/static/images/recipetop.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.add-recipe-title h3 {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
#add-recipe-image-bottom {
    margin-top: 20px;
}
/* my recipes page */
.my-recipes-title {
    background-image: url(/static/images/gfreek11.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.my-recipes-title h3 {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
  }
/* edit recipes page */
.edit-recipe-title {
    background-image: url(/static/images/gfreek3.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px;
}
.edit-recipe-title h3 {
    text-align: center;
    position: absolute;
    top: 68%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: green;
  }
