body {
    background-color: rgb(200, 224, 211);
}
.navbar {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-bottom: 3px solid #FA6E00;
}
.sidebar {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-bottom: 3px solid #FA6E00;
}
.logo {
    height: 60px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 6px;
}
.button-text {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.message {
    padding-top: 5px;
    padding-bottom: 5px;
}
.card {
    margin-top: 20px;
    line-height: 30px;
}
.prep i {
    padding-right: 15px;
}
.cooking i {
    padding-right: 15px;
}
.ingredients i {
    padding-right: 15px;
}
.method i {
    padding-right: 15px;
}
.btn-floating {
    margin: 10px 10px;
}