{% extends "base.html" %}
{% block content %}

<div class="slider" id="about-header">
    <ul class="slides">
        <li>
            <img src="../static/images/gfreek4.jpg">
            <div class="caption center-align">
                <h3 class="light-grey-text text-lighten-5">Gluten Free Kids!</h3>
            </div>
        </li>
        <li>
            <img src="../static/images/gfreek5.jpg">
            <div class="caption right-align">
                <h3 class="light-grey-text text-lighten-5">Recipes for the whole family</h3>
            </div>
        </li>
        <li>
            <img src="../static/images/gfreek6.jpg">
            <div class="caption left-align">
                <h3 class="light-grey-text text-lighten-5">Getting your kids involved</h3>
            </div>
        </li>
        <li>
            <img src="../static/images/gfreek7.jpg">
            <div class="caption center-align">
                <h3 class="light-grey-text text-lighten-5">Keeping your kids healthy</h3>
            </div>
        </li>
    </ul>
</div>
<div class="col s12">
    <div class="center-align">
        <h1 class="glow">ABOUT US</h1>
        <p>Gluten Free Kids was created for parents of children who have a gluten free diet</p>
        <p>Those of you who follow a gluten free diet know how tricky when your kids come home from school<br>
            or a party asking for the same tasty treats all their freinds have had.</p>
        <p>As parents we all know how hard it is to plan dinner every night without having dietary requirements<br>
            thrown into the mix.</p>
        <p>We created this site for parents to share gluten free recipes that they and their kids enjoy with other
            families<br>
            looking for new things to try.</p>
        <p>If you have other adults/children in your household who enjoy your gluten free treats then even better!</p>
        <h5 class="center-align red-text text-darken-4 about-title">What is Gluten Free?</h5>
        <p>There is lots of information online about what it means to be gluten free.</p>
        <p>Here is the <a href="https://en.wikipedia.org/wiki/Gluten-free_diet" class="external-link">wikipedia</a> definition and also a
            a link to <a href="https://www.coeliac.org.uk/information-and-support/living-gluten-free/the-gluten-free-diet/about-gluten/" class="external-link">Coeliac UK</a><br>
            for you to learn more about it.</p>
    </div>
</div>
<div class="col s12 m8 offset-m2 l6 offset-l3 who-are-we">
    <h5 class="center-align red-text text-darken-4 about-title">Who are we?</h5>
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s4">
                <img src="../static/images/mum1.jpg" alt="mum1" class="circle responsive-img">
            </div>
            <div class="col s4">
                <img src="../static/images/mum2.jpg" alt="mum2" class="circle responsive-img">
            </div>
            <div class="col s4">
                <img src="../static/images/mum3.jpg" alt="mum3" class="circle responsive-img">
            </div>
        </div>
        <div class="col s12 center-align blue-text text-darken-4 mums">
            <h6>We are 3 mums who met on the morning school run. Our names are Sarah, Vanessa and Rosie</h6>
            <p>We all realised when attending the kids birthday parties that our children all had different<br>
                dietary requirements and started sharing recipes with each other.</p>
            <p>We started a whatsapp group and during one of our regular chats we cam up with the crazy idea of<br>
                starting our own facebook page.</p>
            <p>We were suprised at just how many other parents had children with food allergies & intolerances.</p>
            <p>Lots of people had recipes to share so we decided to create a page that everyone could join and share<br>
                to save us having to do all the admin! <i class="fas fa-laugh-squint"></i></p>
            <h6>We hope everyone enjoys our site</h6>
            <h5>Sarah, Vanessa and Rosie</h5>   
            <p>xxx</p>
        </div>
    </div>
</div>

{% endblock %}