{% extends "base.html" %}
{% block content %}
<!--page intro-->
<div class="row">
    <div class="col s12 m10">
        <div class="account-page">
            <img src="../static/images/hello.jpg" alt="welcome">
            <h3 class="center-align red-text text-darken-4">{{ username }}!</h3>
            <h4 class="center-align teal-text text-darken-4">Welcome to your Gluten Free Kids account</h4>
        </div>
    </div>
    <div class="col s12">
        <div class="account-page-intro">
            <h6 class="center-align blue-text darken-4"><b>From your account you can add, edit and delete recipes
                    you've shared with the Gluten Free Kids community</b></h6>
            <h6 class="center-align">We would love for you to share recipes you find that kids that are gluten free would enjoy</h6>
            <h6 class="center-align">If you have any recipes that gluten free kids and their siblings (who may not be
                gluten free) also enjoy then even better!!</h6>
            <h6 class="center-align">You can share your own recipes or recipes you have found online, they just need to
                be child friendly and most importantly.. <b>YUMMY!!!</b> <i class="far fa-grin-tongue"></i></h6>
        </div>
    </div>
</div>
<!--add recipe link card-->
<div class="col s12" id="account-page-link-card">
    <div class="card horizontal">
        <div class="card-image">
            <img src="../static/images/cooking.jpg" alt="cooking">
        </div>
        <div class="card-stacked">
            <div class="card-content center-align red-text darken-4" id="link-card-details">
                <h5>To share your tasty Gluten Free Recipe..<br></h5>
                <a href="{{ url_for('add_recipe') }}">Click Here</a>
            </div>
        </div>
    </div>
</div>
<!--my recipes link card-->
<div class="col s12" id="account-page-link-card">
    <div class="card horizontal" id="account-page-link-card">
        <div class="card-stacked">
            <div class="card-content center-align red-text darken-4" id="link-card-details">
                <h5>Want to View, Amend or Delete your Recipes?</h5>
                <a href="{{ url_for('my_recipes') }}">Click Here</a>
            </div>
        </div>
        <div class="card-image">
            <img src="../static/images/gfreek13.jpg" alt="food">
        </div>
    </div>
</div>
<!--delete account card-->
<div class="col s12" id="account-page-delete-card">
    <div class="card horizontal">
        <div class="card-image">
            <img src="../static/images/leaving.jpg" alt="delete">
        </div>
        <div class="card-stacked">
            <div class="card-content center-align" id="account-delete">
                <h6>Want to delete your account?</h6>
                <h6>We will be sorry to see you go!</h6>
                <p>However, if you have decided you no longer want your account then please click the link below</p>
                <a class="modal-trigger" href="#deletemodal">delete account</a>
                    <div id="deletemodal" class="modal">
                        <div class="modal-content">
                            <h5>Are you sure you want to delete your account?</h5>
                            <p>Please note: Once your account is deleted, all of your information will be perminantely removed</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('get_recipes') }}" 
                                class="modal-close btn-small yellow darken-2"><i class="far fa-times-circle left"></i>Cancel</a>
                            <a href="{{ url_for('delete_account', username=username|lower) }}""
                                class="modal-close btn-small red darken-2"><i class="far fa-trash-alt left"></i>Yes - delete perminantely</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}