{% extends "base.html" %}
{% block content %}
<!-- add recipe header -->
<div class="row center-align">
    <div class="col s12 add-recipe-title">
        <h3><b>Your recipe details</b></h3>
    </div>
</div>
<!-- add recipe form -->
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix red-text text-darken-4"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!-- add category -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-question prefix red-text text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Sweet or Savoury?</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Category</label>
            </div>
        </div>
        <!-- add difficulty -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-chart-bar prefix red-text text-darken-4"></i>
                <select id="recipe_difficulty" name="recipe_difficulty" class="validate" required>
                    <option value="" disabled selected>How difficult is your recipe?</option>
                    {% for difficulty in levels %}
                    <option value="{{ difficulty.recipe_difficulty }}">{{ difficulty.recipe_difficulty }}</option>
                    {% endfor %}
                </select>
                <label for="recipe_difficulty">Difficulty</label>
            </div>
        </div>
        <!-- add how many recipes makes -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-sort-numeric-up-alt prefix red-text text-darken-4"></i>
                <input id="makes" name="makes" minlength="1" maxlength="2" type="text" class="validate" required>
                <label for="makes">How many does the recipe make?</label>
            </div>
        </div>
        <!-- add author -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user prefix red-text text-darken-4"></i>
                <input id="by" name="by" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="by">Author (5-50 characters required)</label>
            </div>
        </div>
        <!-- add prep time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-clock prefix red-text text-darken-4"></i>
                <input id="prep_time" name="prep_time" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="prep_time">How long to prep? (state in hours and minutes)</label>
            </div>
        </div>
        <!-- add cooking time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-temperature-high prefix red-text text-darken-4"></i>
                <input id="cooking_time" name="cooking_time" minlength="5" maxlength="50" type="text" class="validate"
                    required>
                <label for="cooking_time">How long to cook? (state in hours and minutes)</label>
            </div>
        </div>
        <!-- add ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-seedling prefix red-text text-darken-4"></i>
                <textarea id="ingredients" name="ingredients" minlength="5" maxlength="600"
                    class="materialize-textarea validate" required></textarea>
                <label for="ingredients">Ingredients (up to 2000 characters, please seperate ingredients with /)</label>
            </div>
        </div>
        <!-- add method -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix red-text text-darken-4"></i>
                <textarea id="method" name="method" minlength="5" maxlength="2000" class="materialize-textarea validate"
                    required></textarea>
                <label for="method">Method (up to 2000 characters)</label>
            </div>
        </div>
        <!-- add image -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-link prefix red-text text-darken-4"></i>
                <input value="https://" id="image" name="image" minlength="20" type="text" class="validate" required>
                <label class="active" for="image">Recipe image link (please provide image url)</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="col s12 center-align">
            <button type="submit" class="btn-large pulse green"><i class="fas fa-scroll left"></i>
                <strong>Add Recipe</strong></button>
        </div>
    </form>
</div>
{% endblock %}